<div class="composition">
  <% WordsController::LETTERS.each_with_index do |row, row_idx| %>
    <ul class="row" data-idx="<%= row_idx %>">
      <% row.each_with_index do |letter, letter_idx| %>
        <%
           row_word = row.join.downcase

           across_word = false
           WordsController::WORDS.each do |word|
             idx = row_word.index(word.downcase)
             if idx.present?
               if letter_idx >= idx && letter_idx <= idx + word.size - 1
                 across_word = true
               end
             end
           end

           column_word = WordsController::LETTERS.collect{|r| r[letter_idx]}.join.downcase

           down_word = false
           WordsController::WORDS.each do |word|
             idx = column_word.index(word.downcase)
             if idx.present?
               if row_idx >= idx && row_idx <= idx + word.size - 1
                 down_word = true
               end
             end
           end

        %>
        <li class="letter <%= 'across' if across_word %> <%= 'down' if down_word %>" data-idx="<%= letter_idx %>"><%= letter unless '_' == letter %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<script>
  var words = <%= WordsController::WORDS.inspect.html_safe %>;
  var letters = <%= WordsController::LETTERS.inspect.html_safe %>;
</script>